.Header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  height: 70px;
  width: 100%;
  background: black;
  border: 1px solid red;
  /* text-align: center; */
  font-size: 45px;
  color: whitesmoke;
  display: block;
}

.Logo {
  position: fixed;
  top: 20px;
  left: 50px;
  border: 1px solid red;
}

.grid {
  width: 1130px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

.grid > div {
  text-align: center;
  font-size: 30px;
}

.section {
  padding-top: 95px;
  margin: 5px;
  height: 700px;
  border: 10px solid red;
}

.Login {
  position: fixed;
  top: 10px;
  right: 60px;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0);
  width: 60px;
  height: 60px;
  z-index: 99;
  color: whitesmoke;
}

.form {
  background-color: #f0f0f0;
  /* border-radius: 20px; */
  box-sizing: border-box;
  height: 400px;
  padding: 40px;
  margin: auto;
  width: 400px;
  box-shadow: 0px 8px 33px #999;
}

.UI {
  margin-top: 20px;
  border: 1px solid red;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: none; */
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.3s;
  border-radius: 10px;
}
