.Header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  height: 70px;
  width: 100%;
  background: black;
  border: 1px solid red;
  /* text-align: center; */
  font-size: 45px;
  color: whitesmoke;
  display: block;
}

.Logo {
  position: fixed;
  top: 20px;
  left: 50px;
  border: 1px solid red;
}

.grid {
  width: 1130px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

.grid > div {
  text-align: center;
  font-size: 30px;
}

.section {
  padding-top: 95px;
  margin: 5px;
  height: 700px;
  border: 10px solid red;
}

.Login {
  position: fixed;
  top: 10px;
  right: 60px;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0);
  width: 60px;
  height: 60px;
  z-index: 99;
  color: whitesmoke;
}

.Modal {
  width: 400px;
  height: 300px;
  border: 1px solid red;
}
